.booking {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  align-items: center;
  margin: 10px;
}

.rdrCalendarWrapper {
  /* border: 1px solid red; */
  max-width: 350px;
}

.saveBookingButton {
  max-width: 100px;
  margin: 20px;
}