.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #161B22; 
  color: white;
  width: 100%;
}

.navLinks {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10px;
  margin-right: 20px;
}

.navTitle {
  width: 50%;
  margin-left: 30px;
  font-family: 'Courgette', cursive;
}

.NavBar h2 {
  font-size: 3em;
  margin: 0px;
}

.NavBar a {
  text-decoration: none;
  color: #C8C8C8;
  padding: 15px;
  margin: 0px 10px;
}

.NavBar a:hover {
  background-color: #C8C8C8;
  color: #161B22;
  border-radius: 20px;
}