.NavBar {
  display: flex;
  justify-content: space-between;
  background-color: #161B22; 
  color: white;
  width: 100%;
}

.navLinks {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10px;
}

a {
  text-decoration: none;
  color: #C8C8C8;
  padding: 15px;
  margin: 0px 10px;
}

a:hover {
  background-color: #C8C8C8;
  color: #161B22;
}